.StripeElement {
  box-sizing: border-box;

  height: 40px;
  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;

  position: relative;
  float: left;
  width: 100%;
}

.text {
  text-align: center;
}

form {
  position: relative;
  width: 100%;
  height: 100%;
  top: 150px;
}

.paymentBox {
  top: -120px;
  width: 380px;
  left: 10px;
  position: relative;
  float: left;
  box-sizing: border-box;
}

.title {
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 35px;
  color: white;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

button {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 0px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  position: relative;
  width: 30%;
  left: 36%;
  top: 30px;
  background-color: #64ed7b;
}

#card-errors {
  position: relative;
  color: red;
  text-align: center;
  width: 100%;
  top: 40px;
  font-size: small;
}

h2 {
  height: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-image: linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.content {
  margin-top: 20px !important;
  width: 400px;
  height: 200px;
  margin: auto;
}

.flower {
  margin: auto;
  height: fit-content;
  width: fit-content;
}
